<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Block access to sensitive folders
    RewriteRule ^(db|src|vendor)/ - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [L]
</IfModule>
<FilesMatch "\.(sql|config\.php|md)$">
    Require all denied
</FilesMatch>
<FilesMatch "^composer\.(json|lock)$">
    Require all denied
</FilesMatch>